 section{
    background-color: rgb(209, 203, 203);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    margin: 20px 0;
}

.Dictionary input{
    width: 100%;
    border-radius: 6px;
    padding: 6px 4px;
    color: rgb(224, 77, 77);
    border: 1px solid #ddd;

}

img{
    border-radius: 4px;
    margin-bottom: 20px;
}