
.container{
    background-color: #e4afb0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title{
    text-align: center;
    padding: 30px;
    margin: 0 auto;
}


.App-footer{
    margin: 30px auto;
    text-align: center;
    position: relative;

}

.Dictionary{
margin: 30px auto;

}

.meaningContainer{
    margin: 20px auto;
    padding: 10px;
    max-width: 550px;
    text-align: center;
    background-color: #9a7787 ;
    border: #644d57  soild 4px;
    border-radius: 7px;
}

.search{
    margin-bottom: 20px;
}

.word{
    text-transform: capitalize;
    margin: 40px auto;
    font-size: 30px;
}